
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
}

/* HERO SECTION */
.hero {
  position: relative;
  height: 100vh;
background: url("../image/bg1.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.hero h1 {
  font-size: 50px;
  font-weight: bold;
}

.hero h2 {
  font-size: 28px;
  margin-top: 10px;
}

.hero span {
  color: #ffc857;
}

.cursor {
  color: #ffc857;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

/* NAVBAR */
.navbar-custom {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  z-index: 3;
}

.navbar-custom a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.navbar-custom a:hover {
  color: #ffc857;
}

/* SECTIONS */
section {
  padding: 80px 0;
}

.section-title {
  color: #e6b450;
  margin-bottom: 30px;
  font-weight: bold;
}

/* RESUME */
.resume-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.edu-item {
  margin-bottom: 25px;
  padding-left: 15px;
  border-left: 3px solid #4CAF50;
}

.skill-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.progress {
  height: 10px;
  margin-bottom: 20px;
}

/* WORK */
.work-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  margin-bottom: 25px;
  transition: 0.3s;
}

/* .work-card:hover {
  transform: translateY(-5px);
} */

.contact-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.back-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ffc857;
  color: black;
  padding: 10px 15px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.back-top:hover {
  background: #e6b450;
}

